src/node-red/cymon-local-clocks.json
[{"id":"3e70db03.9b9bcc","type":"tab","label":"cymon","disabled":false,"info":""},{"id":"1cc75866.c76ca8","type":"websocket-listener","path":"/cymon","wholemsg":"false"},{"id":"cb25089f.8e4328","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ee68a03.33bc56","type":"websocket out","z":"3e70db03.9b9bcc","name":"","server":"1cc75866.c76ca8","client":"","x":1370,"y":260,"wires":[]},{"id":"bf9a3745.3a30a8","type":"mqtt out","z":"3e70db03.9b9bcc","name":"","topic":"druidlab.dibris.unige.it/cymon","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cb25089f.8e4328","x":1570,"y":200,"wires":[]},{"id":"608f7cd0.60cd4c","type":"inject","z":"3e70db03.9b9bcc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.001","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":40,"wires":[["ddfbb8b0.6e9598"]]},{"id":"4dee7f8.af109","type":"debug","z":"3e70db03.9b9bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":140,"wires":[]},{"id":"d30ef99.2a34e08","type":"function","z":"3e70db03.9b9bcc","name":"generator","func":"// msg.payload = {id:'16ITL',unit:'degrees',timestamp:msg.payload,context:{lat:44.424628,lng:8.891677},value:-0.15}\namp = (msg.payload.max-msg.payload.min)/2;\ndy = (msg.payload.max+msg.payload.min) / 2;\nnoise = 0.1*amp*Math.sin(msg.time*2*Math.PI*29);\nvalue = amp * Math.sin(msg.time*2*Math.PI/msg.payload.per)+dy+noise;\nmsg.payload = {d:msg.payload.id,t:msg.timestamp,v:value,n:'CYMON',m:'00000000010000000001000000000100',g:false,p:msg.payload.type}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":200,"wires":[["4dee7f8.af109","3ee68a03.33bc56","7bad004.7fb27"]]},{"id":"2ea4e26.bc3499e","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"sensors","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":20,"wires":[["2ebb9d6f.2d122a"]]},{"id":"246878ad.875728","type":"switch","z":"3e70db03.9b9bcc","name":"init?","property":"sensors","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":40,"wires":[["f56ea310.f0ce18"],["cc1f27f8.d73cd"]]},{"id":"115b4911.2e91b7","type":"change","z":"3e70db03.9b9bcc","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"sensors","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":220,"wires":[["62122a5f.178524","4842c6a.739fbb8"]]},{"id":"30ab14e3.6decc4","type":"inject","z":"3e70db03.9b9bcc","name":"","repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"reset","payloadType":"str","x":130,"y":420,"wires":[["73659599.6ee3ec"]]},{"id":"26bec1e9.dadcb6","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[[]]},{"id":"8b473abb.42bd78","type":"inject","z":"3e70db03.9b9bcc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":540,"wires":[["76e577fa.651898"]]},{"id":"76e577fa.651898","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[[]]},{"id":"918aef99.165578","type":"switch","z":"3e70db03.9b9bcc","name":"is on?","property":"on","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":40,"wires":[["246878ad.875728"]]},{"id":"1eba9c83.15e56b","type":"inject","z":"3e70db03.9b9bcc","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":480,"wires":[["b7271df1.26794"]]},{"id":"b7271df1.26794","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":480,"wires":[[]]},{"id":"62122a5f.178524","type":"split","z":"3e70db03.9b9bcc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":200,"wires":[["9ff81860.fd243"]]},{"id":"cc1f27f8.d73cd","type":"change","z":"3e70db03.9b9bcc","name":"set old_time","rules":[{"t":"set","p":"old_time","pt":"msg","to":"time","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["f6fe7dd7.793d98"]]},{"id":"2ebb9d6f.2d122a","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":80,"wires":[["cc1f27f8.d73cd"]]},{"id":"f56ea310.f0ce18","type":"file in","z":"3e70db03.9b9bcc","name":"","filename":"network-config.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":980,"y":20,"wires":[["5b8e07e9.203ce"]]},{"id":"5b8e07e9.203ce","type":"json","z":"3e70db03.9b9bcc","name":"","property":"payload","action":"obj","pretty":false,"x":1170,"y":20,"wires":[["2ea4e26.bc3499e"]]},{"id":"73659599.6ee3ec","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"sensors","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["26bec1e9.dadcb6"]]},{"id":"9ff81860.fd243","type":"switch","z":"3e70db03.9b9bcc","name":"generate?","property":"msg.time % msg.payload.sample","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":200,"wires":[["d30ef99.2a34e08"]]},{"id":"4842c6a.739fbb8","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[[]]},{"id":"f6fe7dd7.793d98","type":"change","z":"3e70db03.9b9bcc","name":"set time","rules":[{"t":"set","p":"time","pt":"msg","to":"msg.old_time + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["115b4911.2e91b7","a0223758.54f8e8"]]},{"id":"ddfbb8b0.6e9598","type":"change","z":"3e70db03.9b9bcc","name":"set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[["918aef99.165578"]]},{"id":"7bad004.7fb27","type":"json","z":"3e70db03.9b9bcc","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":200,"wires":[["bf9a3745.3a30a8"]]},{"id":"a0223758.54f8e8","type":"debug","z":"3e70db03.9b9bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]}]