src/node-red/server.json
[{"id":"3e70db03.9b9bcc","type":"tab","label":"cymon","disabled":false,"info":""},{"id":"8138b70c.595de8","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":70,"y":80,"wires":[["ce65fcc9.2a3a9"]]},{"id":"a0dbb91f.1638b","type":"debug","z":"3e70db03.9b9bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":60,"wires":[]},{"id":"3ee68a03.33bc56","type":"websocket out","z":"3e70db03.9b9bcc","name":"","server":"1cc75866.c76ca8","client":"","x":1270,"y":140,"wires":[]},{"id":"bf9a3745.3a30a8","type":"mqtt out","z":"3e70db03.9b9bcc","name":"","topic":"druidlab.dibris.unige.it/cymon","qos":"2","retain":"","broker":"cb25089f.8e4328","x":1280,"y":240,"wires":[]},{"id":"7bad004.7fb27","type":"json","z":"3e70db03.9b9bcc","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":240,"wires":[["bf9a3745.3a30a8"]]},{"id":"bb230890.7397c8","type":"function","z":"3e70db03.9b9bcc","name":"generator","func":"// msg.payload = {id:'16ITL',unit:'degrees',timestamp:msg.payload,context:{lat:44.424628,lng:8.891677},value:-0.15}\nvalue = msg.payload * Math.cos(msg.payload)\nmsg.payload = {id:'16ITL',timestamp:msg.timestamp,value:value}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["bb108bb7.6414a"]]},{"id":"7c1f5d4e.f319ac","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"value","pt":"flow","to":"-0.15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":60,"wires":[["8c7037c6.d5b18"]]},{"id":"409c5aa0.3b40e4","type":"switch","z":"3e70db03.9b9bcc","name":"","property":"value","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["7c1f5d4e.f319ac"],["8c7037c6.d5b18"]]},{"id":"8c7037c6.d5b18","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"value","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["bb230890.7397c8"]]},{"id":"92060780.be0cf","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"value","pt":"flow","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":320,"wires":[[]]},{"id":"ce65fcc9.2a3a9","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["409c5aa0.3b40e4"]]},{"id":"5c43f86f.61e6a8","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0","x":130,"y":220,"wires":[["b1e3f669.20ea58"]]},{"id":"b1e3f669.20ea58","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"value","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["955be776.5b311"]]},{"id":"955be776.5b311","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[[]]},{"id":"c5403759.4d20e8","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["c6accb75.2d9ad8"]]},{"id":"c6accb75.2d9ad8","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[[]]},{"id":"bb108bb7.6414a","type":"switch","z":"3e70db03.9b9bcc","name":"","property":"on","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":80,"wires":[["a0dbb91f.1638b","3ee68a03.33bc56","7bad004.7fb27","92060780.be0cf"]]},{"id":"c9c0d507.ec0248","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["d5ff7fc5.31aa5"]]},{"id":"d5ff7fc5.31aa5","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[[]]},{"id":"1cc75866.c76ca8","type":"websocket-listener","z":"","path":"/cymon","wholemsg":"false"},{"id":"cb25089f.8e4328","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
