src/node-red/server.json
[{"id":"3e70db03.9b9bcc","type":"tab","label":"cymon","disabled":false,"info":""},{"id":"3ee68a03.33bc56","type":"websocket out","z":"3e70db03.9b9bcc","name":"","server":"1cc75866.c76ca8","client":"","x":1290,"y":220,"wires":[]},{"id":"bf9a3745.3a30a8","type":"mqtt out","z":"3e70db03.9b9bcc","name":"","topic":"druidlab.dibris.unige.it/cymon","qos":"2","retain":"","broker":"cb25089f.8e4328","x":1460,"y":160,"wires":[]},{"id":"7bad004.7fb27","type":"json","z":"3e70db03.9b9bcc","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":160,"wires":[["bf9a3745.3a30a8"]]},{"id":"608f7cd0.60cd4c","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":110,"y":40,"wires":[["918aef99.165578"]]},{"id":"4dee7f8.af109","type":"debug","z":"3e70db03.9b9bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":100,"wires":[]},{"id":"d30ef99.2a34e08","type":"function","z":"3e70db03.9b9bcc","name":"generator","func":"// msg.payload = {id:'16ITL',unit:'degrees',timestamp:msg.payload,context:{lat:44.424628,lng:8.891677},value:-0.15}\namp = (msg.payload.max-msg.payload.min)/2;\ndy = (msg.payload.max+msg.payload.min) / 2;\nnoise = 0.1*amp*Math.sin(msg.time*2*Math.PI*29);\nvalue = amp * Math.sin(msg.time*2*Math.PI/msg.payload.per)+dy+noise;\nmsg.payload = {d:msg.payload.id,t:msg.timestamp,v:value,n:'CYMON',m:'00000000010000000001000000000100',g:false,p:msg.payload.type}\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":160,"wires":[["4dee7f8.af109","7bad004.7fb27","3ee68a03.33bc56"]]},{"id":"2ea4e26.bc3499e","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"[{\"id\":\"16ITL\",\"max\":0.4,\"min\":-0.4,\"per\":123456,\"type\":\"longitudinal rotation\"},{\"id\":\"16WS\",\"max\":90,\"min\":0,\"per\":1234,\"type\":\"wind speed\"},{\"id\":\"16WD\",\"max\":327,\"min\":0,\"per\":123456,\"type\":\"wind direction\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":20,"wires":[["2ebb9d6f.2d122a"]]},{"id":"246878ad.875728","type":"switch","z":"3e70db03.9b9bcc","name":"","property":"state","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":40,"wires":[["2ea4e26.bc3499e"],["dddbe9e6.8778f8"]]},{"id":"115b4911.2e91b7","type":"change","z":"3e70db03.9b9bcc","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"state","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["62122a5f.178524","2dbd36e1.30790a"]]},{"id":"b75c829e.f98f8","type":"change","z":"3e70db03.9b9bcc","name":"set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["246878ad.875728"]]},{"id":"30ab14e3.6decc4","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0","x":130,"y":300,"wires":[["c866b34b.f691d"]]},{"id":"c866b34b.f691d","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["26bec1e9.dadcb6"]]},{"id":"26bec1e9.dadcb6","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[[]]},{"id":"8b473abb.42bd78","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["76e577fa.651898"]]},{"id":"76e577fa.651898","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":420,"wires":[[]]},{"id":"918aef99.165578","type":"switch","z":"3e70db03.9b9bcc","name":"","property":"on","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":40,"wires":[["b75c829e.f98f8"]]},{"id":"1eba9c83.15e56b","type":"inject","z":"3e70db03.9b9bcc","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["b7271df1.26794"]]},{"id":"b7271df1.26794","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":360,"wires":[[]]},{"id":"2dbd36e1.30790a","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[["4842c6a.739fbb8"]]},{"id":"62122a5f.178524","type":"split","z":"3e70db03.9b9bcc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":160,"wires":[["d30ef99.2a34e08"]]},{"id":"d135bba2.9b47","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":20,"wires":[["dddbe9e6.8778f8"]]},{"id":"dddbe9e6.8778f8","type":"change","z":"3e70db03.9b9bcc","name":"set old_timestamp","rules":[{"t":"set","p":"old_timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":160,"wires":[["924eafa3.87f9a"]]},{"id":"924eafa3.87f9a","type":"change","z":"3e70db03.9b9bcc","name":"set old_time","rules":[{"t":"set","p":"old_time","pt":"msg","to":"time","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["cc1f27f8.d73cd"]]},{"id":"cc1f27f8.d73cd","type":"change","z":"3e70db03.9b9bcc","name":"set time","rules":[{"t":"set","p":"time","pt":"msg","to":"msg.old_time+msg.timestamp-msg.old_timestamp","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["115b4911.2e91b7"]]},{"id":"4842c6a.739fbb8","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":260,"wires":[["a2d7b83e.251e08"]]},{"id":"a2d7b83e.251e08","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":260,"wires":[[]]},{"id":"2ebb9d6f.2d122a","type":"change","z":"3e70db03.9b9bcc","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":20,"wires":[["d135bba2.9b47"]]},{"id":"1cc75866.c76ca8","type":"websocket-listener","z":"","path":"/cymon","wholemsg":"false"},{"id":"cb25089f.8e4328","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
